<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>INSPINIA | Empty Page</title>

    <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('font-awesome/css/font-awesome.css') }}" rel="stylesheet">

    <link href="{{ asset('css/plugins/toastr/toastr.min.css') }}" rel="stylesheet">

    <link href="{{ asset('css/animate.css') }}" rel="stylesheet">
    <link href="{{ asset('css/style.css') }}" rel="stylesheet">

{% block css %}
{% endblock %}

    <script src="{{ asset('angularjs/angular.min.js') }}" ></script>

</head>

<body ng-app="appBackoffice">

<div id="wrapper">

    <nav class="navbar-default navbar-static-side" role="navigation">
        <div class="sidebar-collapse">
            <ul class="nav metismenu" id="side-menu">
                <li class="nav-header">
                    <div class="dropdown profile-element"> <span>
                            <img alt="image" class="img-circle" src="https://fb-s-d-a.akamaihd.net/h-ak-fbx/v/t1.0-1/p50x50/14717252_10157738787135624_2240554310296459930_n.jpg?oh=5414fcb3f553cef7bfef4996d993a304&oe=59CE80FA&__gda__=1506087786_b57d6278445b51056ea0f441a008813c" />
                             </span>
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <span class="clear"> <span class="block m-t-xs"> <strong class="font-bold">Babchia Issam</strong>
                             </span> <span class="text-muted text-xs block">Chef Project <b class="caret"></b></span> </span> </a>
                        <ul class="dropdown-menu animated fadeInRight m-t-xs">
                            <li><a href="profile.html">Profile</a></li>
                            <li><a href="contacts.html">Contacts</a></li>
                            <li><a href="mailbox.html">Mailbox</a></li>
                            <li class="divider"></li>
                            <li><a href="login.html">Logout</a></li>
                        </ul>
                    </div>
                    <div class="logo-element">
                        IN+
                    </div>
                </li>
                <li>
                    <a href="{{ path('sport_backoffice_home') }}"><i class="fa fa-diamond"></i> <span class="nav-label">Dashboard</span></a>
                </li>

                <li>
                    <a href="#"><i class="fa fa-table"></i> <span class="nav-label">Catégories</span><span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level collapse">
                        <li><a href="{{ path('backoffic_categorie_liste_page') }}">Gestion Catégories</a></li>
                        <li><a href="{{ path('backoffic_categorie_ajoutpage') }}">Ajout Catégories</a></li>

                    </ul>
                </li>


                <li>
                    <a href="#"><i class="fa fa-table"></i> <span class="nav-label">Actualités</span><span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level collapse">
                        <li><a href="{{ path('backoffic_news_liste_page') }}">Gestion Actualités</a></li>
                        <li><a href="{{ path('backoffic_news_ajout_page') }}">Ajout Actualités</a></li>

                    </ul>
                </li>

                <li>
                    <a href="#"><i class="fa fa-table"></i> <span class="nav-label">Falsh News</span><span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level collapse">
                        <li><a href="table_basic.html">Gestion Falsh News</a></li>
                        <li><a href="table_data_tables.html">Ajout Falsh News</a></li>

                    </ul>
                </li>

                <li>
                    <a href="#"><i class="fa fa-table"></i> <span class="nav-label">Photos</span><span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level collapse">
                        <li><a href="table_basic.html">Gestion Photos</a></li>
                        <li><a href="table_data_tables.html">Ajout Photo</a></li>

                    </ul>
                </li>


                <li>
                    <a href="#"><i class="fa fa-table"></i> <span class="nav-label">Classement Championnat</span><span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level collapse">
                        <li><a href="table_basic.html">Gestion Classement </a></li>
                        <li><a href="table_data_tables.html">Ajout </a></li>

                    </ul>
                </li>

                <li>
                    <a href="#"><i class="fa fa-table"></i> <span class="nav-label">Vidéos</span><span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level collapse">
                        <li><a href="table_basic.html">Gestion Vidéos </a></li>
                        <li><a href="table_data_tables.html">Ajout Vidéos</a></li>

                    </ul>
                </li>

                <li>
                    <a href="#"><i class="fa fa-table"></i> <span class="nav-label">Sondages</span><span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level collapse">
                        <li><a href="table_basic.html">Gestion Sondages </a></li>
                        <li><a href="table_data_tables.html">Ajout Sondages</a></li>

                    </ul>
                </li>

                <li>
                    <a href="#"><i class="fa fa-table"></i> <span class="nav-label">Equipe</span><span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level collapse">
                        <li><a href="table_basic.html">Gestion Equipe </a></li>
                        <li><a href="table_data_tables.html">Ajout Equipe</a></li>

                    </ul>
                </li>

                <li>
                    <a href="#"><i class="fa fa-table"></i> <span class="nav-label">Match</span><span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level collapse">
                        <li><a href="table_basic.html">Gestion Match </a></li>
                        <li><a href="table_data_tables.html">Ajout Match</a></li>

                    </ul>
                </li>

            </ul>

        </div>
    </nav>

    <div id="page-wrapper" class="gray-bg">
        <div class="row border-bottom">
            <nav class="navbar navbar-static-top  " role="navigation" style="margin-bottom: 0">
                <div class="navbar-header">
                    <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>

                </div>
                <ul class="nav navbar-top-links navbar-right">
                    <li>
                        <span class="m-r-sm text-muted welcome-message">Bienvenu au espace d'administration.</span>
                    </li>


                    <li>
                        <a href="login.html">
                            <i class="fa fa-sign-out"></i> Déconnexion
                        </a>
                    </li>
                </ul>

            </nav>
        </div>

        {% block topcontent %}
        {% endblock %}

        {% block content %}
        {% endblock %}


        <div class="footer">
            <div class="pull-right">
                10GB of <strong>250GB</strong> Free.
            </div>
            <div>
                <strong>Copyright</strong> Example Company &copy; 2014-2017
            </div>
        </div>

    </div>
</div>

<!-- Mainly scripts -->
<script src="{{ asset('js/jquery-3.1.1.min.js') }}"></script>
<script src="{{ asset('js/bootstrap.min.js') }}"></script>
<script src="{{ asset('js/plugins/metisMenu/jquery.metisMenu.js') }}"></script>
<script src="{{ asset('js/plugins/slimscroll/jquery.slimscroll.min.js') }}"></script>

<!-- Custom and plugin javascript -->
<script src="{{ asset('js/inspinia.js') }}"></script>
<script src="{{ asset('js/plugins/pace/pace.min.js') }}"></script>

<script src="{{ asset('js/plugins/toastr/toastr.min.js') }}"></script>

{% block javascript %}
{% endblock %}

<script>
    var app = angular.module("appBackoffice",[]);

       app.config(function ($interpolateProvider) {
           $interpolateProvider.startSymbol('%%');
           $interpolateProvider.endSymbol('%%');
       });

    app.directive('fileModel', ['$parse', function ($parse) {
        return {
            restrict: 'A',
            link: function(scope, element, attrs) {
                var model = $parse(attrs.fileModel);
                var modelSetter = model.assign;

                element.bind('change', function(){
                    scope.$apply(function(){
                        modelSetter(scope, element[0].files[0]);
                    });
                });
            }
        };
    }]);
</script>

{% block angularjs %}
{% endblock %}


</body>

</html>
